*{
    margin: 0;
    padding: 0;
}


body {
    background-image: url(img/ImagemVolga3.png);
    background-size: cover;
    background-attachment:fixed;
    font-family: sans-serif;
    font-size: 1em;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}


/*AQUI INICIA A RESPONSIVIDADE DO SITE*/
@media screen and ( max-width: 400px) {
    nav { width: 300.125px;

    }
    img { width: 10px;

    }
}
/* AQUI TERMINA A RESPONSIVIDADE DO SITE */


/* AQUI INICIA O MENU VERTICAL*/
/* LISTAS DO MENU VERTICAL*/
nav ul li { 
    list-style: none;
    padding: 5px;
    padding-top: 20px;
    display: flex;
    text-align: center;

}

/* TAG CAIXA QUE ENGLOBA TODAS AS DIVS DOS LINKS */
nav ul {
    margin-top: 14px;
}

/* TAG SEMANTICA QUE ENGLOBA TODOS OS CAMPOS DO MENU */
body nav {
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 50px;
    padding-top: 40px;
    padding-left: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    max-height: 835.22px;
    max-width: 780.125px;
    border-radius: 2%;
    margin-top: 65px;
    display: flex;
    justify-content: center;
}

/* LINKS DO MENU */
nav a {
    text-decoration: none;
    color: #e0e0f8;
    position: relative;
    padding-bottom: 10px;
    padding-top: 5px; 
    display: flex; 
    margin-left: 20px;
    font-size: 18px;
    
}

/* DIVS QUE ENGLOBAM OS LINKS DO MENU */
nav ul div {
    border-bottom: 1px solid rgba(29,65,19,255);
    margin-left: 13px;
    margin-right: 23px;
    width: 300px;
    display: flex;
    justify-content: left;
}


/* APLICAÇÃO DE EFEITO HOVER NAS DIVS DO MENU VERTICAL DA PÁGINA */
nav ul div:hover {
    background-color: rgb(255, 255, 255, 0.1);
    font-weight: bold;
    transition: 0.5s;
    zoom: 101%;
    border-left: 5px solid white;
}
/* AQUI TERMINA O MENU VERTICAL*/



/* AQUI INICIA O GIF LOGO VOLGA CONTIDO NO CONTEUDO FORMULARIO */

nav #logogif img {
    width: 190px;
    height: 205px;
    display: relative;
    left: 50%;
    padding: 5px;
    display: flex;


}


#logogif img:hover {
    background-color: rgb(224, 224, 248);
    transition: 1s;
    transform: rotate(360deg);
    border-radius: 10%;
}


nav #logogif {
    width: 640px;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-left: 8px;


}

/* AQUI FINALIZA O GIF LOGO VOLGA CONTIDO NO CONTEUDO DO FORMULÁRIO */

footer {
    margin-top: 500px;
    width: 60%;
    height: 90px;
    background-color: rgba(18, 63, 18, 0.979);
    margin-bottom: 0px;
    position: absolute;
    display: flex;
    border-radius: 8px;
    font-weight: 630;
    border-top: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

footer #img1 img {
    width: 85px;
    height: 85px;
    position: absolute;
    left: 30px;

}

footer #img2 img {
    position: absolute;
    left: 150px;
    top: 26px;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer #img3 img {
    position: absolute;
    left: 490px;
    top: 26px;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer #caixaendereco p {
    display: flex;
    align-items: center;
    position: absolute;
    left: 180px;
    top: 26px;
    font-size: 10px;
    width: 300px;
    color: whitesmoke;
}

footer #caixacontato p {
    display: flex;
    align-items: center;
    position: absolute;
    left: 527px;
    top: 26px;
    font-size: 10px;
    width: 200px;
    color: whitesmoke;
}

footer #caixacontato p:nth-of-type(2n) {
    display: flex;
    align-items: center;
    position: absolute;
    left: 527px;
    top: 40px;
    font-size: 10px;
    width: 200px;
    color: whitesmoke;
}

footer #caixacontato p:nth-of-type(3n) {
    display: flex;
    align-items: center;
    position: absolute;
    left: 527px;
    top: 54px;
    font-size: 10px;
    width: 200px;
    color: whitesmoke;
}

footer #caixacontato #copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -205px;
    top: 75px;
    font-size: 10px;
    width: 200px;
    color: whitesmoke;
    height: 51px;
}

header div {
    margin-top: 500px;
    width: 50px;
    height: 90px;
    margin-bottom: 0px;
    position: absolute;
    display: flex;
}

body header h1 {
    color: rgb(224, 224, 248);
    position: relative;
    top: -500px;
    left: 300px;
    text-shadow: 1px 1px 1px black;
}





