*{
    margin: 0;
    padding: 0;
}

body #titulo {
    font-family: sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    text-shadow: 1px 1px 1px black;
    width: 800px;
    position: relative;


}

#subtitulo {
    font-family: sans-serif;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    width: 800px;
    position: relative;
}

body #divtitulo {
    height: 100px;
    position: relative;
    width: 300px;
}
fieldset {
    border: 0;
    position: relative;
}

html {
    width: 1332px;
    height: 1000px;
    margin-right: 0px;
    padding-right: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;

}

body {
    background-image: url(img/ImagemVolga3.png);
    background-size: cover;
    background-attachment:fixed;
    font-family: sans-serif;
    font-size: 1em;
    margin-top: 4%;
    margin-bottom: 2%;
    position: relative;
    width: 1300px;  
    height: 1000px;
    display: flex;
    justify-content: center;
                                                                                  
}

#caixageral {
    display: flex;
    justify-content:center;
    margin: 0px;
    width: 1100px;
    position: relative;
    margin-top: 20px;
}
input, select, textarea, button {
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
    height: 50px;
    width: 740px;
    position: relative;
    padding: 0px;

    
}

.campo label {
    margin-bottom: 0.2em;
    color: white;
     display: block;
}

fieldset .divsfildset {
    margin-bottom: 0px;
    height: 30px;
    width: 370px;
    position: relative;
    float: left;
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}

.divsfildset #SOLICITANTE, .divsfildset #DEPARTAMENTO {
    margin-left: 0px;
}

.divsfildset input[type="text"] {
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    margin-left: 5px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 35px;
    margin-bottom: 25px;
}

.cabecalho .labelcabecalho {
    margin-bottom: 5px;

}
    

.grupo {
    display: flex;
    flex-direction: row;
    position: relative;
}

.campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    display: block;
    width: 95%;
    margin-right: 167px;

}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #e0e0f8;
}


/*AQUI INICIA A RESPONSIVIDADE DO SITE*/
@media screen and ( max-width: 1200px) {
    form { width: 740.125px;

    }
}
/* AQUI TERMINA A RESPONSIVIDADE DO SITE */


/* AQUI INICIA O MENU VERTICAL*/
/* LISTAS DO MENU VERTICAL*/
nav ul li { 
    list-style: none;
    padding: 5px;
    padding-top: 20px;
    padding-left: 13px;
    display: flex;
    text-align: center;

}

/* TAG CAIXA QUE ENGLOBA TODAS AS DIVS DOS LINKS */
nav ul {
    margin-top: 14px;
    position: relative;
}

/* TAG SEMANTICA QUE ENGLOBA TODOS OS CAMPOS DO MENU */
body nav {
    background-color: rgba(0, 0, 0, 0.6);
    width: 230px;
    height: 323px;
    display:flex;
    position: relative;
    left: 980px;
    top: 100px;
    border-right: 7px solid white;
    border-top: 1px solid rgb(245, 245, 245, 0.5);
    border-left: 1px solid rgb(245, 245, 245, 0.5);
    border-bottom: 1px solid rgb(245, 245, 245, 0.5);
    border-radius: 3%;
    
}

/* LINKS DO MENU */
nav a {
    text-decoration: none;
    color: #e0e0f8;
    position: relative;
    padding-bottom: 10px;
    padding-top: 5px;   
}

/* DIVS QUE ENGLOBAM OS LINKS DO MENU */
nav ul div {
    border-bottom: 1px solid rgba(29,65,19,255);
    margin-left: 13px;
    width: 200px;
    margin-right: 20px;
}

/* APLICAÇÃO DE EFEITO HOVER NAS DIVS DO MENU VERTICAL DA PÁGINA */
nav ul div:hover {
    background-color: rgb(255, 255, 255, 0.1);
    font-weight: bold;
    transition: 0.5s;
    zoom: 101%;
    border-left: 5px solid white;
}
/* AQUI TERMINA O MENU VERTICAL*/


/* DIV QUE ENGLOBA TODO O CAMPO DE CHECKBOX */
#check {
    display: flex;
    width: 720px;
    color: white;
    flex-direction: column;
}

.radio {
    margin-bottom: 1em;
    height: 90px;
    width: 700px;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    
}

/* FOI CRIADO DIVS CAIXAS QUE ENGLOBA CADA LINHA INDIVIDUAL DO CHECKBOX */
#check .caixacheck {
    display:inline;
    flex-direction: column;
}

/* AQUI INICIA A CAIXA QUE ENGLOBA O FORMULÁRIO */
 
body form {
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 0px;
    padding-top: 40px;
    padding-left: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    max-height: 755.22px;
    max-width: 740.125px;
    position: relative;
    margin-bottom: 2%;
    left: -350px;
    top: 100px;
}
/* AQUI TERMINA A CAIXA QUE ENGLOBA O FORMULÁRIO */

.selecionar {
    margin-bottom: 0px;
    height: 46px;
    width: 740px;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    
}

#URGENCIA {
    margin-top: 5px;
}


/* AQUI INICIA O CAMPO DE UPLOAD DE IMAGEM E LINK NO FORMULÁRIO */

.uploads #avatar {
    position: relative;
    left: 1%;
    width: 115px;
    height: 22px;

}

.uploads label {
    margin-bottom: 0.2em;
    color: white;
     display: block;
}

.uploads #caixaupload { 
    display: flex;

}

/* AQUI TERMINA O CAMPO DE UPLOAD DE IMAGEM E LINK NO FORMULÁRIO */



/* AQUI INICIA O BOTÃO ENVIAR*/
.botenviar .botaoenviar {
    font-size: 1.0em;
    background-color: transparent;
    color: white;
    padding: 10px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    cursor: pointer;
    position: relative;
    left: 35.5%;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

/* APLICAÇÃO DE EFEITO HOVER NO BOTÃO ENVIAR SOLICITAÇÃO */
.botaoenviar:hover {
    background-color: rgb(255, 255, 255, 0.1);
    font-weight: bold;
    transition: 0.5s;

}

/* TERMINA O BOTÃO ENVIAR*/

 /* CAIXA DIV QUE ENGLOBA O BOTÃO ENVIAR CONTIDO NO FORMULÁRIO */   
 #botoespagina {
     display: flex;
     justify-content: center;
     flex-direction: row;
     height: 45px;
     position: relative;
     top: 99px;
     margin: 0;
     width: 705px;
 }

 #botoespagina .botenviar {
    margin: 0;
    display: flex;
    width: 200px;
    justify-content: center;
    flex-direction: row;
    position: relative;
    left: 235px;
}

/* AQUI INICIA O GIF LOGO VOLGA CONTIDO NO CONTEUDO FORMULARIO */

#botoespagina #logogif img {
    width: 40px;
    height: 55px;
    position:relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#botoespagina #logogif {
    width:55px;
    height: 55px;
    position:relative;
    left: -410px;
    top: 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0px;
}

#botoespagina #logogif:hover {
    background-color: rgb(224, 224, 248);
    transition: 1s;
    transform: rotate(360deg);
    border-radius: 10%;
}

/* AQUI FINALIZA O GIF LOGO VOLGA CONTIDO NO CONTEUDO DO FORMULÁRIO */


